.loading-overlay {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: white;
  opacity: 0;

  z-index: -1;

  transition: opacity 0.4s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-overlay.active {
  z-index: 9999;
  opacity: 0.7;
}
