

.shipment-row {

}

.shipment-row.scheduled .status-badge {
  /*color: black;*/
}

.shipment-row.in-progress .status-badge {
  color: var(--orange);
}

.shipment-row.finished .status-badge {
  color: var(--blue);
}

.shipment-row.cancelled .status-badge {
  color: var(--red);
}

.shipment-info-box {
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;
}

.shipment-info-box > div {
  width: 1px;
  flex-grow: 1;
}
