

.shipment-row {

}

.shipment-row.scheduled .status-badge {
  /*color: black;*/
  font-weight: bold;
}

.shipment-row.in-progress .status-badge {
  color: var(--orange);
  font-weight: bold;
}

.shipment-row.finished .status-badge {
  color: var(--blue);
  font-weight: bold;
}

.shipment-row.cancelled .status-badge {
  color: var(--red);
  font-weight: bold;
}

.shipment-info-box {
  display: flex;
  flex-direction: row;

  margin-bottom: 40px;
}

.shipment-info-box > div {
  width: 1px;
  flex-grow: 1;
}

.shipment-info-box > div > .shipment-info {
  margin-bottom: 6px;
}
