table .table-col-50 {
  width: 50px;
}
table .table-col-100 {
  width: 100px;
}
table .table-col-150 {
  width: 150px;
}
table .table-col-200 {
  width: 200px;
}
table .table-col-250 {
  width: 250px;
}
table .table-col-300 {
  width: 300px;
}
table .table-col-350 {
  width: 350px;
}
table .table-col-400 {
  width: 400px;
}
table .table-col-450 {
  width: 450px;
}
table .table-col-500 {
  width: 500px;
}
table .table-col-550 {
  width: 550px;
}
table .table-col-600 {
  width: 600px;
}
