.tab-header {
  background-color: var(--purple);
  color: white;
  
  height: 60px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab-header > .left {
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tab-header > .left > h1.tab-title {
  font-weight: normal;
}

.tab-header > .right {
  position: relative;
  padding-right: 40px;
}

.tab-header > .right > .md-fab {
  transform: translateY(50%);
}

.tab-body {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
