<div class="dialog large">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      Nova previsão de chegada
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>
    
  <form accept-charset="utf-8" ng-submit="submit()">

    <section class="dialog-body">
        <div layout-gt-sm="row">
          <!-- scheduledFor -->
          <md-input-container class="md-block" flex-20>
            <label>Data de chegada</label>
            <input
              required
              ng-model="entryShipment.scheduledFor"
              ng-min="_minScheduledFor"
              type="datetime-local">
          </md-input-container>
          
          <!-- supplier -->
          <md-autocomplete
            flex
            class="md-block"
            md-selected-item="entryShipment.supplier"
            md-floating-label="Fornecedor"
            required
            
            md-no-cache
            md-require-match
            md-item-text="supplier.name"
            md-search-text="_supplierSearchText"
            md-items="supplier in searchSuppliers(_supplierSearchText)">
            <md-item-template>
              {{ supplier.name }}
            </md-item-template>
          </md-autocomplete>
        </div>
        
        <label>Produtos</label>
        <div
          layout-gt-sm="row"
          ng-repeat="allocation in entryShipment.allocations">
          
          <!-- product.model -->
          <md-autocomplete
            class="md-block"
            md-selected-item="allocation.product.model"
            md-floating-label="Modelo de produto"
            required
            
            md-no-cache
            md-require-match
            md-item-text="productModel.description"
            md-search-text="_productModelSearchText"
            md-items="productModel in searchProductModels(_productModelSearchText)">
            <md-item-template>
              {{ productModel.description }}
            </md-item-template>
          </md-autocomplete>
          
          <!-- product.expiry -->
          <md-input-container flex-gt-sm>
            <label>Data de validade</label>
            <input
              required
              ng-model="allocation.product.expiry"
              ng-min="_minScheduledFor"
              type="date">
          </md-input-container>
          
          <!-- quantity -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Quantidade</label>
            <input
              required
              ng-model="allocation.quantity">
          </md-input-container>
          
          <!-- product.measureUnit -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Unidade</label>
            <input
              required
              ng-model="allocation.product.measureUnit">
          </md-input-container>
        </div>
          
        <md-button
          type="button"
          ng-click="addAllocation()"
        >
          Adicionar produto
        </md-button>
    </section>
      
      
  
    <footer class="dialog-footer">
      <div class="dialog-footer-left">
        
      </div>
      
      <div class="dialog-footer-right">
        <md-button
          type="button"
          ng-click="cancel()">
          Cancelar
        </md-button>
        <md-button
          type="submit">
          Registrar
        </md-button>
      </div>
    </footer>
  </form>
</div>
