<div class="dialog large">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      Novo modelo de produto
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>
  
  <form accept-charset="utf-8" ng-submit="submit()">
  
    <section class="dialog-body">
      
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Descrição do produto</label>
          <input required ng-model="productModel.description">
        </md-input-container>
      </div>
      
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>SKU do produto</label>
          <input required ng-model="productModel.sku">
        </md-input-container>
      </div>
    </section>
  
    <footer class="dialog-footer">
      <div class="dialog-footer-left">
        
      </div>
      
      <div class="dialog-footer-right">
        <md-button
          type="button"
          ng-click="cancel()">
          Cancelar
        </md-button>
        <md-button
          type="submit">
          Registrar
        </md-button>
      </div>
    </footer>
  </form>
</div>
