<md-dialog
  class="dialog large">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      Cebola
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
      </md-button>
    </div>
  </header>

  <md-dialog-content>
    
    <form
      name="annotationForm"
      ng-submit="annotationForm.$valid && submit()">
    
      <section class="dialog-body">

        <div>
          Seja bem-vindo(a)!
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Senha</label>
            <input
              md-select-on-focus
              required
              type="password"
              ng-model="password">
          </md-input-container>
        </div>
      </section>
    
      <footer class="dialog-footer">
        <div class="dialog-footer-left">
          
        </div>
        
        <div class="dialog-footer-right">
          <md-button
            type="submit">
            Entrar
          </md-button>
        </div>
      </footer>
    </form>
  </md-dialog-content>
</md-dialog>
