<header class="tab-header">
  
  <div class="left">
    <md-button
      class="md-icon-button"
      aria-label="go back"
      ng-click="goBack()">
      <md-icon md-font-set="material-icons" style="color: white;">
        keyboard_backspace
      </md-icon>
    </md-button>
    <h1 class="tab-title">
      Entrada ({{ shipment.status.value | translate }}) {{ shipment.scheduledFor | date:'dd/MMM, HH:mm' }} | {{ shipment.supplier.name }}
    </h1>
  </div>
  
  <div class="right">
    <md-button
      ng-if="shipment.status.value === 'in-progress'"
      ng-click="finishShipment()">
      Concluir entrada
    </md-button>
  </div>
</header>

<section class="tab-body">

  <div class="supplier-badge">
    <b>Responsável:</b> {{ shipment.supplier.contactPoint.name }} | {{ shipment.supplier.contactPoint.telephone }}
  </div>
  
  <div class="status-badge">
    <b>Status:</b> {{ shipment.status.value | translate }} | atualizado em {{ shipment.status.updatedAt | date }}
  </div>

  <div ng-if="shipment.annotations" class="shipment-annotations">
    <b>Anotações:</b><br>
    {{ shipment.annotations }}
  </div>
  
  <!-- active allocations -->
  <table
    id="active-allocations"
    ng-if="shipment.allocations.active.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos agendados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde efetivada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.active">
        <td>
          <div class="product-description">
            <img ng-src="{{ allocation.product.model.image.url }}">
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          {{ allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }} (total)
          <dl style="opacity: 0.5;">
            <div ng-repeat="op in allocation.operations.active">
              {{ op.createdAt | date:'dd/MMM, HH:mm' }} | {{ op.quantity }} {{ op.product.measureUnit }}
            </div>
          </dl>

          <!-- status icons -->
          <md-icon
            class="status-info"
            ng-if="allocation.allocatedQuantity === allocation.effectivatedQuantity"
            md-font-set="material-icons">
            check
          </md-icon>
          <md-icon
            class="status-info"
            ng-if="allocation.allocatedQuantity < allocation.effectivatedQuantity"
            md-font-set="material-icons">
            warning
            <md-tooltip md-direction="top">
              Mais itens do que o previsto
            </md-tooltip>
          </md-icon>
        </td>
        <td>
          <!-- actions -->
          <md-button
            class="md-icon-button"
            ng-click="effectivateEntryAllocation(allocation)">
            <md-icon md-font-set="material-icons">check_circle</md-icon>
          </md-button>
          <!-- 
          <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="effectivateEntryAllocation(allocation)">
                  Efetivar entrada
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button
                  ng-click="">
                  Registrar perda
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu> -->
        </td>
      </tr>

    </tbody>
  </table>
  
  <!-- finished allocations -->
  <table
    id="finished-allocations"
    ng-if="shipment.allocations.finished.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos finalizados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde efetivada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.finished">
        <td>
          <div class="product-description">
            <img ng-src="{{ allocation.product.model.image.url }}">
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date }}
        </td>
        <td>
          {{ allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>

  <!-- cancelled allocations -->
  <br>
  <br>
  <br>
  <table
    id="cancelled-allocations"
    ng-if="shipment.allocations.cancelled.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos cancelados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde efetivada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.cancelled">
        <td>
          <div class="product-description">
            <img ng-src="{{ allocation.product.model.image.url }}">
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          {{ allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>
  
  <!-- standalone operations -->
  <br>
  <br>
  <br>
  <table
    id="standalone-operations"
    ng-if="shipment.standaloneOperations.active.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos não previstos</th>
        <th>Validade</th>
        <th><!-- Qtde prevista --></th>
        <th>Qtde efetivada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="operation in shipment.standaloneOperations.active">
        <td>
          <div class="product-description">
            <img ng-src="{{ operation.product.model.image.url }}">
            {{ operation.product.model.description }}
          </div>
        </td>
        <td>
          {{ operation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          <!-- {{ operation.allocatedQuantity }} {{ operation.product.measureUnit }} -->
        </td>
        <td>
          {{ operation.quantity }} {{ operation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>
  
  <div>
    <md-button
      class="md-raised"
      ng-if="shipment.status.value !== 'finished' && shipment.status.value !== 'cancelled'"
      ng-click="createStandaloneOperation()">
      Inserir produto não previsto
    </md-button>
    <md-button
      ng-if="shipment.status.value === 'scheduled'"
      ng-click="cancelShipment()">
      Cancelar entrada
    </md-button>
  </div>

</section>