<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Entradas
    </h1>
  </div>
  
  <div class="right">
    <md-button class="md-fab" ng-click="createEntryShipment()">
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </div>
</header>

<section class="tab-body">
  
  <table
    id="scheduled-entry-shipments"
    class="cebola-table entry-shipments-table">
    <thead>
      <tr>
        <th class="table-col-150">Previsões de chegada</th>
        <th>Fornecedor</th>
        <th>Responsável</th>
        <th>Contato</th>
        <th>Status</th>
        <th class="table-col-150"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entryShipment in entryShipments | filter:isPendingEntryShipment">
        <td class="table-col-150">
          <!-- actions -->
          <a href="#/entradas/{{ entryShipment._id }}">
            {{ entryShipment.scheduledFor | date }}
          </a>
        </td>
        <td>
          {{ entryShipment.supplier.name }}
        </td>
        <td>
          {{ entryShipment.supplier.contactPoint.name }}
        </td>
        <td>
          {{ entryShipment.supplier.contactPoint.telephone }}
        </td>
        <td>
          {{ entryShipment.status.value | translate }}
        </td>
        <td class="table-col-150">
          <!-- actions -->
          <md-button
            class="md-icon-button"
            ng-disabled="entryShipment.status.value === 'in-progress'"
            ng-click="editEntryShipment(entryShipment)">
            <md-icon md-font-set="material-icons">edit</md-icon>
          </md-button>
          
          <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-disabled="entryShipment.status.value === 'in-progress'"
                  ng-click="editEntryShipment(entryShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    edit
                  </md-icon>
                  Edit
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button
                  ng-disabled="entryShipment.status.value === 'in-progress'"
                  ng-click="cancelEntryShipment(entryShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    delete
                  </md-icon>
                  Cancel
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>

    </tbody>
  </table>
  
  <table
    id="finished-entry-shipments"
    class="cebola-table entry-shipments-table">
    <thead>
      <tr>
        <th class="table-col-150">Previsões de chegada encerradas</th>
        <th>Fornecedor</th>
        <th>Responsável</th>
        <th>Contato</th>
        <th>Status</th>
        <th class="table-col-150"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="entryShipment in entryShipments | filter:isFinishedEntryShipment">
        <td class="table-col-150">
          <!-- actions -->
          <a href="#/entradas/{{ entryShipment._id }}">
            {{ entryShipment.scheduledFor | date }}
          </a>
        </td>
        <td>
          {{ entryShipment.supplier.name }}
        </td>
        <td>
          {{ entryShipment.supplier.contactPoint.name }}
        </td>
        <td>
          {{ entryShipment.supplier.contactPoint.telephone }}
        </td>
        <td>
          {{ entryShipment.status.value | translate }}
        </td>
        <td class="table-col-150">
          <!-- actions 
          <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-disabled="entryShipment.status.value === 'scheduled'"
                  ng-click="cancelEntryShipment(entryShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    delete
                  </md-icon>
                  Cancel
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          -->
        </td>
      </tr>

    </tbody>
  </table>
  
</section>