<header class="tab-header">
  
  <div class="left">
    <md-button
      class="md-icon-button"
      aria-label="go back"
      ng-click="goBack()">
      <md-icon md-font-set="material-icons" style="color: white;">
        keyboard_backspace
      </md-icon>
    </md-button>
    <h1 class="tab-title">
      Entrada ({{ shipment.status.value | translate }}) {{ shipment.scheduledFor | date:'dd/MMM, HH:mm' }} | {{ shipment.supplier.name }}
    </h1>
  </div>
  
  <div class="right">
    <md-button
      ng-click="editShipment()">
      Editar entrada
    </md-button>
    <md-button
      ng-if="shipment.status.value === 'in-progress'"
      ng-click="finishShipment()">
      Finalizar entrada
    </md-button>
  </div>
</header>

<section class="tab-body">

  <div class="shipment-info-box">
    <div>
      <div>
        <strong>Responsável:</strong> {{ shipment.supplier.contactPoint.name }} | {{ shipment.supplier.contactPoint.telephone }}
      </div>
      
      <div>
        <strong>Status:</strong> {{ shipment.status.value | translate }} | atualizado em {{ shipment.status.updatedAt | date }}
      </div>

      <div ng-if="shipment.annotations">
        <strong>Anotações:</strong> {{ shipment.annotations }}
      </div>
    </div>
    <div>
      <div>
        <strong>CDE:</strong> {{ shipment.documents.CDE }}<span ng-if="!shipment.documents.CDE">-</span>
      </div>
      
      <div>
        <strong>Nota fiscal:</strong> {{ shipment.documents.NF }}<span ng-if="!shipment.documents.NF">-</span>
      </div>
      
      <div>
        <strong>Identificação do veículo:</strong> {{ shipment.documents.vehicleId }}<span ng-if="!shipment.documents.vehicleId">-</span>
      </div>
    </div>
  </div>
  
  <!-- active allocations -->
  <table
    id="active-allocations"
    ng-if="shipment.allocations.active.length > 0 || shipment.standaloneOperations.active.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th class="table-col-350">Produtos agendados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde confirmada</th>
        <th class="hidden-on-print"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.active">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ allocation.product.model.image.url }}">
            </div>
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          {{ allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }} (total)
          <dl style="opacity: 0.5;">
            <div ng-repeat="op in allocation.operations.active">
              {{ op.createdAt | date:'dd/MMM, HH:mm' }} | {{ op.quantity }} {{ op.product.measureUnit }}
            </div>
          </dl>

          <!-- status icons -->
          <md-icon
            class="status-info"
            ng-if="allocation.allocatedQuantity === allocation.effectivatedQuantity"
            md-font-set="material-icons">
            check
          </md-icon>
          <md-icon
            class="status-info"
            ng-if="allocation.allocatedQuantity < allocation.effectivatedQuantity"
            md-font-set="material-icons">
            warning
            <md-tooltip md-direction="top">
              Mais itens do que o previsto
            </md-tooltip>
          </md-icon>
        </td>
        <td class="hidden-on-print">
          <!-- actions -->
          <md-button
            class="md-icon-button"
            ng-click="effectivateEntryAllocation(allocation)">
            <md-icon md-font-set="material-icons">check_circle</md-icon>
          </md-button>
        </td>
      </tr>

      <!-- Standalone operations -->
      <tr ng-repeat="operation in shipment.standaloneOperations.active">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ operation.product.model.image.url }}">
            </div>
            {{ operation.product.model.description }}
          </div>
        </td>
        <td>
          {{ operation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          Produto não previsto
        </td>
        <td>
          {{ operation.quantity }} {{ operation.product.measureUnit }}
        </td>
        <td class="hidden-on-print">
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>
  
  <!-- finished allocations -->
  <table
    id="finished-allocations"
    ng-if="shipment.allocations.finished.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos finalizados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde confirmada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.finished">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ allocation.product.model.image.url }}">
            </div>
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date }}
        </td>
        <td>
          {{ allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>

  <!-- cancelled allocations -->
  <table
    id="cancelled-allocations"
    ng-if="shipment.allocations.cancelled.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos cancelados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde confirmada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.cancelled">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ allocation.product.model.image.url }}">
            </div>
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          {{ allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>
  
  <div>
    <md-button
      class="md-raised"
      ng-if="shipment.status.value !== 'finished' && shipment.status.value !== 'cancelled'"
      ng-click="createStandaloneOperation()">
      Inserir produto não previsto
    </md-button>
    <md-button
      ng-if="shipment.status.value !== 'finished' && shipment.status.value !== 'cancelled'"
      ng-click="cancelShipment()">
      Cancelar entrada
    </md-button>
  </div>

</section>