<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Saídas
    </h1>
  </div>
  
  <div class="right">
    <md-button class="md-fab" ng-click="createExitShipment()">
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </div>
</header>


<section class="tab-body">
  
  <table
    id="scheduled-exit-shipments"
    class="cebola-table exit-shipments-table">
    <thead>
      <tr>
        <th class="table-col-150">Saídas previstas</th>
        <th>Destinatário</th>
        <th>Responsável</th>
        <th>Contato</th>
        <th>Status</th>
        <th class="table-col-150"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr 
        ng-if="(exitShipments|filter:isPendingExitShipment).length === 0 && !$httpGlobalLoading">
        <td colspan="6">
          Não há saídas previstas
          <md-button class="md-raised" ng-click="createExitShipment()">Cadastrar nova saída</md-button>
        </td>
      </tr>
      <tr ng-repeat="exitShipment in exitShipments | filter:isPendingExitShipment | orderBy:'scheduledFor'"
        class="shipment-row"
        ng-class="{ 'highlight': exitShipment._highlight,
                    'scheduled': exitShipment.status.value === 'scheduled',
                    'in-progress': exitShipment.status.value === 'in-progress',
                    'finished': exitShipment.status.value === 'finished',
                    'cancelled': exitShipment.status.value === 'cancelled', }">
        <td class="table-col-150">
          <!-- actions -->
          <a href="#!/saidas/{{ exitShipment._id }}">
            {{ exitShipment.scheduledFor | date }}
          </a>
        </td>
        <td>
          {{ exitShipment.recipient.name }}
        </td>
        <td>
          {{ exitShipment.recipient.contactPoint.name }}
        </td>
        <td>
          {{ exitShipment.recipient.contactPoint.telephone }}
        </td>
        <td>
          <span class="status-badge">
            {{ exitShipment.status.value | translate }}
          </span>
        </td>
        <td class="table-col-150">
          <!-- actions -->
          <md-button
            class="md-icon-button"
            ng-click="editExitShipment(exitShipment)">
            <md-icon md-font-set="material-icons">edit</md-icon>
          </md-button>
          
          <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="editExitShipment(exitShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    edit
                  </md-icon>
                  Editar
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button
                  ng-click="viewExitShipmentDetails(exitShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    remove_red_eye
                  </md-icon>
                  Ver detalhes
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button
                  ng-click="cancelExitShipment(exitShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    delete
                  </md-icon>
                  Cancelar
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>

    </tbody>
  </table>
  
  <table
    id="finished-exit-shipments"
    ng-if="(exitShipments|filter:isFinishedExitShipment).length > 0"
    class="cebola-table">
    <thead>
      <tr>
        <th class="table-col-150">Saídas finalizadas</th>
        <th>Destinatário</th>
        <th>Responsável</th>
        <th>Contato</th>
        <th>Status</th>
        <th class="table-col-150"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="exitShipment in exitShipments | filter:isFinishedExitShipment | orderBy:'scheduledFor'"
        class="shipment-row"
        ng-class="{ 'highlight': exitShipment._highlight,
                    'scheduled': exitShipment.status.value === 'scheduled',
                    'in-progress': exitShipment.status.value === 'in-progress',
                    'finished': exitShipment.status.value === 'finished',
                    'cancelled': exitShipment.status.value === 'cancelled', }">
        <td class="table-col-150">
          <!-- actions -->
          <a href="#!/saidas/{{ exitShipment._id }}">
            {{ exitShipment.scheduledFor | date }}
          </a>
        </td>
        <td>
          {{ exitShipment.recipient.name }}
        </td>
        <td>
          {{ exitShipment.recipient.contactPoint.name }}
        </td>
        <td>
          {{ exitShipment.recipient.contactPoint.telephone }}
        </td>
        <td>
          <span class="status-badge">
            {{ exitShipment.status.value | translate }}
          </span>
        </td>
        <td class="table-col-150">
          <!-- actions -->
          <md-button
            class="md-icon-button"
            ng-click="editExitShipment(exitShipment)">
            <md-icon md-font-set="material-icons">edit</md-icon>
          </md-button>
          
          <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="editExitShipment(exitShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    edit
                  </md-icon>
                  Editar
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button
                  ng-click="viewExitShipmentDetails(exitShipment)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    remove_red_eye
                  </md-icon>
                  Ver detalhes
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
         
        </td>
      </tr>

    </tbody>
  </table>
  
</section>
