<header class="tab-header">
  
  <div class="left">
    <md-button
      class="md-icon-button"
      aria-label="go back"
      ng-click="goBack()">
      <md-icon md-font-set="material-icons" style="color: white;">
        keyboard_backspace
      </md-icon>
    </md-button>

    <h1 class="tab-title">
      Saída #{{ shipment.number }} ({{ shipment.status.value | translate }}) {{ shipment.scheduledFor | date:'dd/MMM, HH:mm' }} | {{ shipment.recipient.name }}
    </h1>
  </div>
  
  <div class="right">
    <a
      ng-if="shipment.status.value === 'finished'"
      class="md-button"
      href="#!/saidas/{{ shipment._id }}/imprimir">
      <md-icon
        style="color: white"
        md-font-set="material-icons">
        print
      </md-icon>
      Imprimir recibo
    </a>
    <md-button
      ng-click="editShipment()">
      Editar saída
    </md-button>
    <md-button
      ng-if="shipment.status.value === 'in-progress'"
      ng-click="finishShipment()">
      Finalizar saída
    </md-button>
  </div>
</header>

<section class="tab-body">

  <div class="shipment-info-box">
    <div>
      <div class="shipment-info">
        <strong>No.</strong> #{{ shipment.number }} 
      </div>
      
      <div class="shipment-info">
        <strong>Responsável:</strong> {{ shipment.recipient.contactPoint.name }} | {{ shipment.recipient.contactPoint.telephone }}
      </div>
      
      <div class="shipment-info">
        <strong>Status:</strong> {{ shipment.status.value | translate }} | atualizado em {{ shipment.status.updatedAt | date }}
      </div>

      <div class="shipment-info" ng-if="shipment.annotations">
        <strong>Anotações:</strong> {{ shipment.annotations }}
      </div>
    </div>
    <div>
      <div class="shipment-info">
        <strong>Nota fiscal:</strong> {{ shipment.documents.NF }}<span ng-if="!shipment.documents.NF">-</span>
      </div>
      
      <div class="shipment-info">
        <strong>Identificação do veículo:</strong> {{ shipment.documents.vehicleId }}<span ng-if="!shipment.documents.vehicleId">-</span>
      </div>
    </div>
  </div>
  
  <!-- active allocations -->
  <table
    id="active-allocations"
    ng-if="shipment.allocations.active.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th class="table-col-350">Produtos agendados</th>
        <th>Validade</th>
        <th class="table-col-150">Origem</th>
        <th>Qtde prevista</th>
        <th class="table-col-350">Qtde confirmada</th>
        <th class="hidden-on-print table-col-50"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.active">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ allocation.product.model.image.url }}">
            </div>
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM/yyyy' }}
        </td>
        <td>
          <a href="#!/entradas/{{ allocation.product.sourceShipment._id }}">
            {{ allocation.product.sourceShipment.supplier.name }}<br>
            CDE: {{ allocation.product.sourceShipment.documents.CDE || 'Não informado' }}
          </a>
        </td>
        <td>
          {{ -1 * allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ -1 * allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
          <table class="sub-table">
            <tr ng-repeat="op in allocation.operations.active">
              <td>
                {{ op.createdAt | date:'dd/MMM, HH:mm' }} 
              </td>
              <td>|</td>
              <td>
                {{ -1 * op.quantity }} {{ op.product.measureUnit }}
              </td>
              <td>|</td>
              <td>
                Código: S{{ shipment.number }}-{{ allocation.number }}-{{ op.number }}
              </td>
            </tr>
          </table>

<!--           <dl>
            <div ng-repeat="op in allocation.operations.active">
              {{ op.createdAt | date:'dd/MMM, HH:mm' }} | {{ -1 * op.quantity }} {{ op.product.measureUnit }} | Código: S{{ shipment.number }}/{{ op.number }}
            </div>
          </dl> -->

          <!-- status icons -->
          <md-icon
            class="status-info"
            ng-if="allocation.allocatedQuantity === allocation.effectivatedQuantity"
            md-font-set="material-icons">
            check
          </md-icon>
          <md-icon
            class="status-info"
            ng-if="-1 * allocation.allocatedQuantity < -1 * allocation.effectivatedQuantity"
            md-font-set="material-icons">
            warning
            <md-tooltip md-direction="top">
              Mais itens do que o previsto
            </md-tooltip>
          </md-icon>
        </td>
        <td>
          <!-- actions -->
          <md-button
            class="md-icon-button"
            ng-click="effectivateExitAllocation(allocation)">
            <md-icon md-font-set="material-icons">check_circle</md-icon>
          </md-button>
          
          <!-- <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="effectivateEntryAllocation(allocation)">
                  Efetivar entrada
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button
                  ng-click="">
                  Registrar perda
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu> -->
        </td>
      </tr>

    </tbody>
  </table>
  
  <!-- finished allocations -->
  <table
    id="finished-allocations"
    ng-if="shipment.allocations.finished.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos finalizados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde confirmada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.finished">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ allocation.product.model.image.url }}">
            </div>
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM' }}
        </td>
        <td>
          {{ -1 * allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ -1 * allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>


  <!-- cancelled allocations -->
  <table
    id="cancelled-allocations"
    ng-if="shipment.allocations.cancelled.length > 0"
    class="cebola-table product-table">
    <thead>
      <tr>
        <th>Produtos cancelados</th>
        <th>Validade</th>
        <th>Qtde prevista</th>
        <th>Qtde confirmada</th>
        <th><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="allocation in shipment.allocations.cancelled">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ allocation.product.model.image.url }}">
            </div>
            {{ allocation.product.model.description }}
          </div>
        </td>
        <td>
          {{ allocation.product.expiry | date:'dd/MMM' }}
        </td>
        <td>
          {{ -1 * allocation.allocatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          {{ -1 * allocation.effectivatedQuantity }} {{ allocation.product.measureUnit }}
        </td>
        <td>
          <!-- actions -->
        </td>
      </tr>

    </tbody>
  </table>

  <div>
    <md-button
      ng-if="shipment.status.value === 'scheduled' || shipment.status.value === 'in-progress'"
      ng-click="cancelShipment()">
      Cancelar saída
    </md-button>
  </div>
  
</section>