<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Inventário
    </h1>
  </div>
  
  <div class="right">
    <md-button
      ng-click="createLossRecord()">
      Perda de produto
    </md-button>

    <md-button
      ng-click="createCorrectionRecord()">
      Correção
    </md-button>
  </div>
</header>

<section class="tab-body">
  
  <!-- error -->
  <table
    ng-if="(summary | filter:hasError).length > 0"
    id="products-with-error"
    class="cebola-table">
    <thead>
      <tr>
        <th class="table-col-300">Produtos com erro</th>
        <th>Validade</th>
        <th>Em estoque</th>
        <th>À chegar</th>
        <th>À sair</th>
        <!-- <th>À sair</th> -->
        <th class="hidden-on-print"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr class="has-error" ng-repeat="productSummary in summary | filter:hasError">
        <td class="table-col-300">
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ productSummary.product.model.image.url }}">
            </div>
            <!-- <a href="#/inventario/{{ productSummary.product.model._id }}"> -->
            <h1>{{ productSummary.product.model.description }}</h1>
            <!-- </a> -->
          </div>          <!-- <dl>
            <div>
              <dt>peso líq.</dt>
              <dd>0,4kg</dd>
            </div>
            <div>
              <dt>peso br.</dt>
              <dd>0,5kg</dd>
            </div>
          </dl> -->
        </td>
        <td>
          <div>{{ productSummary.product.expiry | date:'dd/MMM/yyyy' }}</div>
          <!-- <div>16 dias</div> -->
        </td>
        <td>
          <div>
            {{ productSummary.inStock }} 
            {{ productSummary.product.measureUnit }}
          </div>
        </td>
        <td>
          
          <dl ng-if="productSummary.allocatedForEntry > 0">
            <div ng-repeat="entryAllocation in productSummary.records | filter:isEntryAllocationRecord">
              <dt>
                <a href="#!/entradas/{{ entryAllocation.shipment._id }}">{{ entryAllocation.scheduledFor | date:'dd/MMM' }}:</a>
              </dt>
              <!-- <dt>{{ entryAllocation.scheduledFor | date:'dd/MMM' }}:</dt> -->
              <dd>
                {{ entryAllocation.allocatedQuantity - entryAllocation.effectivatedQuantity }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
            <div>
              <dt></dt>
              <dd>
                {{ productSummary.allocatedForEntry }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
          </dl>
          
          <div ng-if="productSummary.allocatedForEntry <= 0">-</div>
        </td>
        <td>
          <!-- a sair -->
          <dl ng-if="productSummary.allocatedForExit < 0">
            <div ng-repeat="exitAllocation in productSummary.records | filter:isExitAllocationRecord">
              <dt>
                <a href="#!/saidas/{{ exitAllocation.shipment._id }}">{{ exitAllocation.scheduledFor | date:'dd/MMM' }}:</a>
              </dt>
              <dd>
                {{ -1 * (exitAllocation.allocatedQuantity - exitAllocation.effectivatedQuantity) }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
            <div>
              <dt></dt>
              <dd>
                {{ -1 * productSummary.allocatedForExit }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
          </dl>

          <div ng-if="productSummary.allocatedForExit >= 0">-</div>
        </td>
        <td class="hidden-on-print">
          <!-- actions --> 
          <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="createLossRecord(
                    { product: productSummary.product }
                  )">
                  Cadastrar perda
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button
                  ng-click="createCorrectionRecord(
                    { product: productSummary.product },
                    { productType: 'in-stock' }
                  )">
                  Cadastrar correção
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>

    </tbody>
  </table>

  <table
    ng-if="(summary | filter:isInStock).length > 0"
    id="in-stock-products"
    class="cebola-table">
    <thead>
      <tr>
        <th class="table-col-300">Produtos em estoque</th>
        <th>Validade</th>
        <th>Em estoque</th>
        <th>À chegar</th>
        <th>À sair</th>
        <!-- <th>À sair</th> -->
        <th class="hidden-on-print"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="productSummary in summary | filter:isInStock | orderBy:['product.model.description','product.expiry']">
        <td>
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ productSummary.product.model.image.url }}">
            </div>
            <!-- <a href="#/inventario/{{ productSummary.product.model._id }}"> -->
            <h1>{{ productSummary.product.model.description }}</h1>
            <!-- </a> -->
          </div>
          <dl>
            <div ng-if="productSummary.product.model.netWeight">
              <dt>peso líq.</dt>
              <dd>{{ productSummary.product.model.netWeight / 1000 }} kg</dd>
            </div>
            <div ng-if="productSummary.product.model.weight">
              <dt>peso br.</dt>
              <dd>{{ productSummary.product.model.weight / 1000 }} kg</dd>
            </div>
            <div ng-if="productSummary.product.model.height">
              <dt>Altura</dt>
              <dd>{{ productSummary.product.model.height }} cm</dd>
            </div>
            <div ng-if="productSummary.product.model.width">
              <dt>Largura</dt>
              <dd>{{ productSummary.product.model.width }} cm</dd>
            </div>
            <div ng-if="productSummary.product.model.depth">
              <dt>Profundidade</dt>
              <dd>{{ productSummary.product.model.depth }} cm</dd>
            </div>
          </dl>
        </td>
        <td>
          <div>{{ productSummary.product.expiry | date:'dd/MMM/yyyy' }}</div>
          <!-- <div>16 dias</div> -->
        </td>
        <td>
          <div>
            {{ productSummary.inStock }} 
            {{ productSummary.product.measureUnit }}
          </div>
        </td>
        <td>
          <!-- a entrar -->
          <dl ng-if="productSummary.allocatedForEntry > 0">
            <div ng-repeat="entryAllocation in productSummary.records | filter:isEntryAllocationRecord">
              <dt>
                <a href="#!/entradas/{{ entryAllocation.shipment._id }}">{{ entryAllocation.scheduledFor | date:'dd/MMM' }}:</a>
              </dt>
              <dd>
                {{ entryAllocation.allocatedQuantity - entryAllocation.effectivatedQuantity }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
            <div>
              <dt></dt>
              <dd>
                {{ productSummary.allocatedForEntry }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
          </dl>
          
          <div ng-if="productSummary.allocatedForEntry <= 0">-</div>
        </td>
        <td>
          <!-- a sair -->
          <dl ng-if="productSummary.allocatedForExit < 0">
            <div ng-repeat="exitAllocation in productSummary.records | filter:isExitAllocationRecord">
              <dt>
                <a href="#!/saidas/{{ exitAllocation.shipment._id }}">{{ exitAllocation.scheduledFor | date:'dd/MMM' }}:</a>
              </dt>
              <dd>
                {{ -1 * exitAllocation.allocatedQuantity }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
            <div>
              <dt></dt>
              <dd>
                {{ -1 * productSummary.allocatedForExit }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
          </dl>

          <div ng-if="productSummary.allocatedForExit >= 0">-</div>
        </td>
        <td class="hidden-on-print">
          <!-- actions --> 
          <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="createLossRecord(
                    { product: productSummary.product }
                  )">
                  Cadastrar perda
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button
                  ng-click="createCorrectionRecord(
                    { product: productSummary.product },
                    { productType: 'in-stock' }
                  )">
                  Cadastrar correção
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>

    </tbody>
  </table>
  
  <table
    ng-if="(summary | filter:isOutOfStockButExpected).length > 0"
    id="out-of-stock-but-expected-products"
    class="cebola-table">
    <thead>
      <tr>
        <th class="table-col-300">Produtos previstos para estoque</th>
        <th>Validade</th>
        <th>Em estoque</th>
        <th>À chegar</th>
        <th>À sair</th>
        <!-- <th>À sair</th> -->
        <th class="hidden-on-print"><!-- action placeholder --></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="productSummary in summary | filter:isOutOfStockButExpected">
        <td class="table-col-300">
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ productSummary.product.model.image.url }}">
            </div>
            <!-- <a href="#/inventario/{{ productSummary.product.model._id }}"> -->
            <h1>{{ productSummary.product.model.description }}</h1>
            <!-- </a> -->
          </div>
          
          <!-- <dl>
            <div>
              <dt>peso líq.</dt>
              <dd>0,4kg</dd>
            </div>
            <div>
              <dt>peso br.</dt>
              <dd>0,5kg</dd>
            </div>
          </dl> -->
        </td>
        <td>
          <div>{{ productSummary.product.expiry | date:'dd/MMM/yyyy' }}</div>
          <!-- <div>16 dias</div> -->
        </td>
        <td>
          <div>
            {{ productSummary.inStock }} 
            {{ productSummary.product.measureUnit }}
          </div>
        </td>
        <td>
          
          <dl ng-if="productSummary.allocatedForEntry > 0">
            <div ng-repeat="entryAllocation in productSummary.records | filter:isEntryAllocationRecord">
              <dt>
                <a href="#!/entradas/{{ entryAllocation.shipment._id }}">{{ entryAllocation.scheduledFor | date:'dd/MMM' }}:</a>
              </dt>
              <dd>
                {{ entryAllocation.allocatedQuantity }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
            <div>
              <dt></dt>
              <dd>
                {{ productSummary.allocatedForEntry }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
          </dl>
          
          <div ng-if="productSummary.allocatedForEntry <= 0">-</div>
        </td>
        <td>
          <!-- a sair -->
          <dl ng-if="productSummary.allocatedForExit < 0">
            <div ng-repeat="exitAllocation in productSummary.records | filter:isExitAllocationRecord">
              <dt>{{ exitAllocation.scheduledFor | date:'dd/MMM' }}:</dt>
              <dd>
                {{ exitAllocation.allocatedQuantity }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
            <div>
              <dt></dt>
              <dd>
                {{ -1 * productSummary.allocatedForExit }} 
                {{ productSummary.product.measureUnit }}
              </dd>
            </div>
          </dl>

          <div ng-if="productSummary.allocatedForExit >= 0">-</div>
        </td>
        <td class="hidden-on-print">
          <!-- actions --> 
          <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="createLossRecord(
                    { product: productSummary.product }
                  )">
                  Cadastrar perda
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button
                  ng-click="createCorrectionRecord(
                    { product: productSummary.product },
                    { productType: 'in-stock' }
                  )">
                  Cadastrar correção
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>

    </tbody>
  </table>
  
</section>