<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Inventário
    </h1>
  </div>
  
  <div class="right">
    <md-button
      ng-click="createLossRecord()">
      Perda de produto
    </md-button>

    <md-button
      ng-click="createCorrectionRecord()">
      Correção
    </md-button>
  </div>
</header>

<section class="tab-body">


  <cb-inventory-table
    title="Produtos com erro"
    data="summaries.error"
    inventory-methods="inventoryTableMethods"
    row-class="has-error"
    enabled-menu-items="loss correction">
  </cb-inventory-table>

  <cb-inventory-table
    title="Produtos em estoque"
    data="summaries.inStock"
    inventory-methods="inventoryTableMethods"
    enabled-menu-items="loss correction">
  </cb-inventory-table>

  <cb-inventory-table
    title="Produtos previstos para estoque"
    data="summaries.expected"
    inventory-methods="inventoryTableMethods"
    enabled-menu-items="">
  </cb-inventory-table>
  
</section>