<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Operações
    </h1>
  </div>

</header>

<section class="tab-body">
  
  <table
    id="operations-table"
    class="cebola-table">
    <!-- <caption>This table is...</caption> -->
    <thead>
      <tr>
        <th>No.</th>
        <th>Status</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Produto</th>
        <th>Validade</th>
        <th>Unidade de medida</th>
        <th>Preço unitário</th>
        <th>Origem</th>
        <th>Quantidade</th>
        <th>Data</th>
        <th>Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <md-input-container>
            <label>Tipo</label>
            <input ng-model="search.type" type="text">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <label>Categoria</label>
            <input ng-model="search.category" type="text">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <label>Produto</label>
            <input ng-model="search.product.model.description" type="text">
          </md-input-container>
        </td>
        <td></td>
        <td>
          <md-input-container>
            <label>Medida</label>
            <input ng-model="search.product.measureUnit" type="text">
          </md-input-container>
        </td>
        <td></td>
        <td>
          <md-input-container>
            <label>Origem</label>
            <input ng-model="search.product.sourceShipment._id" type="text">
          </md-input-container>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr
        ng-repeat="operation in operations | filter:search | orderBy:'-createdAt'"
        ng-class="{
          'operation-entry': operation.type === 'entry',
          'operation-exit': operation.type === 'exit',
          'operation-loss': operation.category === 'loss',
          'operation-correction': operation.category === 'correction',
          'operation-status-cancelled': operation.status.value === 'operation-cancelled'
        }">
        <td>#{{ operation.number }}</td>
        <td>{{ operation.status.value }}</td>
        <td>{{ operation.type }}</td>
        <td>{{ operation.category || 'normal' }}</td>
        <td>{{ operation.product.model.description }}</td>
        <td>{{ operation.product.expiry | date:'dd/MMM/yyyy' }}</td>
        <td>{{ operation.product.measureUnit }}</td>
        <td>{{ operation.product.unitPrice.value | currency:'R$ ' }}</td>
        <td>
          <a href="#!/entradas/{{ operation.product.sourceShipment._id }}">
            Entrada #{{ operation.product.sourceShipment.number }}
          </a>
        </td>
        <td>{{ operation.quantity }}</td>
        <td>{{ operation.createdAt | date:'d/MMM/yy HH:mm' }}</td>
        <td>{{ operation.annotations }}</td>
      </tr>
    </tbody>
  </table>
  
  
</section>