<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Operações
    </h1>
  </div>

</header>

<section class="tab-body">
  
  <table class="cebola-table">
    <!-- <caption>This table is...</caption> -->
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Produto</th>
        <th>Validade</th>
        <th>Unidade de medida</th>
        <th>Quantidade</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <md-input-container>
            <label>Tipo</label>
            <input ng-model="search.type" type="text">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <label>Produto</label>
            <input ng-model="search.product.model.description" type="text">
          </md-input-container>
        </td>
        <td></td>
        <td>
          <md-input-container>
            <label>Medida</label>
            <input ng-model="search.product.measureUnit" type="text">
          </md-input-container>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr
        ng-repeat="operation in operations | filter:search | orderBy:'-createdAt'"
        ng-class="{
          'operation-entry': operation.type === 'entry',
          'operation-exit': operation.type === 'exit',
          'operation-loss': operation.category === 'loss',
          'operation-correction': operation.category === 'correction',
        }">
        <td>{{ operation.type }}</td>
        <td>{{ operation.product.model.description }}</td>
        <td>{{ operation.product.expiry | date }}</td>
        <td>{{ operation.product.measureUnit }}</td>
        <td>{{ operation.quantity }}</td>
        <td>{{ operation.createdAt | date:'d/MMM/yy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
  
  
</section>