<header class="tab-header">
  
  <div class="left">
    <h1 class="tab-title">
      Modelos de produto
    </h1>
  </div>
  
  <div class="right">
    <md-button class="md-fab" ng-click="createProductModel()">
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </div>
</header>

<section class="tab-body">
  
  <table class="cebola-table" id="product-models-table">
    <thead>
      <tr>
        <th class="table-col-50">No.</th>
        <th class="table-col-350">Produto</th>
        <th>SKU</th>
        <th>Dimensões (m)</th>
        <th>Peso (kg)</th>
        <th class="table-col-50">
          <!-- action placeholder -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr 
        ng-if="productModels && productModels.length === 0">
        <td colspan="6">
          Não há produtos cadastrados
          <md-button
            class="md-raised"
            ng-click="createProductModel()">
            Cadastrar novo produto
          </md-button>
        </td>
      </tr>
      <tr ng-repeat="productModel in productModels">
        <td>
          #{{ productModel.number }}
        </td>
        <td class="image-column">
          <div class="product-description">
            <div class="product-image-wrapper">
              <img ng-src="{{ productModel.image.url }}">
            </div>
            <!-- <a href="#/inventario/{{ productModel._id }}"> -->
            <h1>{{ productModel.description }}</h1>
            <!-- </a> -->
          </div>

          <!-- <img ng-src="{{ productModel.image.url }}"> -->
        </td>
        <td>{{ productModel.sku }}</td>
        <td>
          <span ng-if="productModel.width && productModel.height && productModel.depth">
            {{ productModel.height / 100 }} x 
            {{ productModel.width / 100 }} x 
            {{ productModel.width / 100 }}
          </span>
          <span ng-if="!(productModel.width && productModel.height && productModel.depth)">-</span>
        </td>
        <td>
          <span ng-if="productModel.weight">
            peso bruto: {{ productModel.weight / 1000 }}
          </span>
          <br>
          <span ng-if="productModel.netWeight">
            peso líquido: {{ productModel.netWeight / 1000 }}
          </span>
          <span ng-if="!productModel.weight && !productModel.netWeight">
            -
          </span>
        </td>
        <td>
          <!-- actions -->
          <md-menu>
            <md-button
              class="md-icon-button"
              ng-click="$mdOpenMenu($event)">
              <md-icon
                md-menu-origin
                md-font-set="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button
                  ng-click="editProductModel(productModel)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    edit
                  </md-icon>
                  Editar
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button
                  ng-click="deleteProductModel(productModel)">
                  <md-icon
                    md-menu-align-target
                    md-font-set="material-icons">
                    delete
                  </md-icon>
                  Deletar
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>
  
  
</section>