/**
 * app header
 */
#app-header {
  background-color: var(--purple);
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
  height: 90px;
  padding-top: 10px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#app-header-left {
  padding-left: 40px; /* alinhado com conteudo body */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app-header-left img.logo {
  height: 30px;
}

#app-header-left > nav {
  height: 60px;
}

#app-header-left > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding-left: 20px;
}

#app-header-left > nav > ul > li {
  height: 100%;
}

#app-header-left > nav > ul > li > a,
#app-header-right a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  position: relative;
  height: 100%;
  
  padding-left: 20px;
  padding-right: 20px;
}

#app-header-right a {
  padding-right: 2px;
  margin-right: 30px;
}

#app-header-left > nav > ul > li > a:hover,
#app-header-left > nav > ul > li > a:active,
#app-header-left > nav > ul > li > a.active,
#app-header-right a:hover {
  color: rgba(255,255,255,1);
  color: white;
}

#app-header-left > nav > ul > li > a:hover:after,
#app-header-left > nav > ul > li > a:active:after,
#app-header-left > nav > ul > li > a.active:after {
  content: '';
  position: absolute;

  left: 20px;
  right: 20px;
  bottom: 10px;
  
  height: 3px;
  
  background-color: var(--green);
}

#app-header-right a:after {
  content: url('/resources/img/arrow.png');
  position: absolute;

  height: 16px;
  width: 16px;

  left: 100%;
  top: 22px;
  
}

#app-header-right {
  padding-right: 40px; /* alinhado com conteudo body */
  height: 60px;
}