.product-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product-description > .product-image-wrapper {
  width: 50px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-description > .product-image-wrapper > img {
  height: 50px;
}
