.shipment-dialog .form-section {
  margin-bottom: 30px;
}

.shipment-dialog .shipment-product-list {
  background-color: #efefef;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;

  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  box-sizing: border-box;
}

.shipment-dialog .cebola-summarized-table thead th:first-child,
.shipment-dialog .cebola-summarized-table tr td:first-child {
  padding-left: 0;
}
.shipment-dialog .cebola-summarized-table thead th:last-child,
.shipment-dialog .cebola-summarized-table tr td:last-child {
  padding-right: 0;
}
