.shipment-dialog {

  
}

.shipment-dialog .cancelled {
  opacity: 0.5;
}

.shipment-dialog .cancelled input {
  text-decoration: line-through;
}

/**
 * Special styles for product-autocomplete, as specified at
 * http://stackoverflow.com/questions/37745911/custom-auto-complete-angular-material
 * and 
 * https://material.angularjs.org/latest/demo/autocomplete
 */
.autocomplete-custom-template li {
  height: 144px !important;
  
  border-bottom: 1px dashed black;
}
