<!-- TODO: modify class names -->
<md-dialog
  id="entry-shipment-dialog"
  class="dialog large shipment-dialog"
  flex="80">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      <span ng-if="$isNew">
        Criar nova entrada
      </span>
      <span ng-if="!$isNew">
        Entrada <span ng-if="shipment.scheduledFor">{{ shipment.scheduledFor | date:'dd/MMM, HH:mm' }}</span><span ng-if="shipment.supplier.name"> | {{ shipment.supplier.name }}</span>
      </span>
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>
      
  <md-dialog-content>
    <form
      name="shipmentForm"
      ng-submit="shipmentForm.$valid && submit()">

      <section class="dialog-body">
        <div layout-gt-sm="row">
          <!-- scheduledFor -->
          <md-input-container class="md-block" flex-20>
            <label>Data de chegada</label>
            <input
              required
              name="scheduledFor"
              ng-disabled="_editability < 2"
              ng-model="shipment.scheduledFor"
              type="datetime-local">
            <ng-messages for="shipmentForm.scheduledFor.$error" role="alert">
              <ng-message when="required">
                Por favor selecione uma data de chegada
              </ng-message>
            </ng-messages>
          </md-input-container>
          
          <!-- supplier (for entries only)-->
          <md-autocomplete
            flex
            class="md-block"
            md-selected-item="shipment.supplier"
            md-floating-label="Fornecedor"
            required
            ng-disabled="_editability < 2"
            
            md-no-cache
            md-require-match
            md-item-text="supplier.name"
            md-search-text="_supplierSearchText"
            md-min-length="0"
            md-items="supplier in completeSuppliers(_supplierSearchText)">
            <md-item-template>
              {{ supplier.name }}
            </md-item-template>
          </md-autocomplete>
        </div>

        <div layout-gt-sm="row">
          <!--
            shipment.documents.NF
          -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nota fiscal</label>
            <input
              ng-model="shipment.documents.NF"
              ng-disabled="_editability < 1">
          </md-input-container>
          <!--
            shipment.documents.CDE
          -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>CDE</label>
            <input
              ng-model="shipment.documents.CDE"
              ng-disabled="_editability < 1">
          </md-input-container>
          <!--
            shipment.documents.vehicleId
          -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Identificação do veículo</label>
            <input
              ng-model="shipment.documents.vehicleId"
              ng-disabled="_editability < 1">
          </md-input-container>
        </div>

        <label>Produtos previstos</label>

        <div class="shipment-product-list">
          <div
            layout-gt-sm="row"
            ng-if="shipment.allocations.active.length === 0">
            Nenhum produto previsto
          </div>
          <div
            ng-class="{ 'cancelled': allocation.status.value === 'allocation-cancelled' }"
            ng-repeat="allocation in shipment.allocations.active">
            
            <div layout-gt-sm="row">
              <!--
                productModel for entry shipments (any product model)
              -->
              <md-autocomplete
                class="md-block product-model-autocomplete"
                md-selected-item="allocation.product.model"
                md-floating-label="Modelo de produto"
                required
                ng-disabled="_editability < 2"
                
                ng-disabled="allocation.status.value === 'allocation-cancelled'"
                
                md-no-cache
                md-require-match
                md-item-text="productModel.description"
                md-search-text="_productModelSearchText"
                md-min-length="0"
                md-items="productModel in completeProductModels(_productModelSearchText)"
                md-menu-class="inventory-product-autocomplete">
                <md-item-template>

                  <!-- TODO: define own classes and styles -->

                  <div class="autocomplete-option">

                    <div class="autocomplete-option-left">
                      <div class="image-container">
                        <img ng-src="{{ productModel.image.url }}">
                      </div>
                      <div class="autocomplete-option-product-description">
                        <div>
                          {{ productModel.description }} 
                        </div>
                      </div>
                    </div>

                  </div>
                </md-item-template>
              </md-autocomplete>
            </div>

            <div layout-gt-sm="row">
              <!--
                product.expiry
                product expiry MUST be disabled if it is an exit,
                as exits refer to actual products that are in stock
              -->
              <md-input-container flex-gt-sm>
                <label>Data de validade</label>
                <input
                  name="allocation-{{ $index }}-product-expiry"
                  required
                  ng-disabled="_editability < 2"
                  ng-model="allocation.product.expiry"
                  ng-min="shipment.scheduledFor"
                  type="date">
                <ng-messages for="shipmentForm['allocation-' + $index + '-product-expiry'].$error" role="alert">
                  <ng-message when="required">
                    Data de validade é obrigatória
                  </ng-message>
                  <ng-message when="min">
                    Data de validade é anterior à data de chegada prevista
                  </ng-message>
                </ng-messages>
              </md-input-container>
              
              <md-input-container class="md-block" flex-gt-sm>
                <!-- quantity for entry (any amount higher than 0) -->
                <label>
                  Quantidade
                </label>
                <input
                  type="number"
                  required
                  ng-disabled="_editability < 2"
                  min="1"
                  ng-min="1"
                  ng-model="allocation.allocatedQuantity"
                  ng-disabled="allocation.status.value === 'allocation-cancelled'">
              </md-input-container>
              
              <!--
                product.measureUnit
                Measure unit is not modifiable in exits
              -->
              <md-input-container class="md-block" flex-gt-sm>
                <label>Unidade de medida</label>
                <input
                  required
                  ng-disabled="_editability < 2"
                  ng-model="allocation.product.measureUnit">
              </md-input-container>
              
              <!--
                product.unitPrice
                Measure unit is not modifiable in exits
              -->
              <!-- <md-input-container class="md-block" flex-gt-sm>
                <label>Preço unitário (R$)</label>
                <input
                  ng-disabled="_editability < 2"
                  type="number"
                  step="0.01"
                  ng-model="allocation.product.unitPrice.value">
              </md-input-container> -->

              <!--
                Total price. Used for display reasons only
              -->
              <!-- <md-input-container class="md-block" flex-gt-sm>
                <label>Total</label>
                <input
                  disabled
                  type="text"
                  value="R$ {{ allocation.allocatedQuantity * allocation.product.unitPrice.value || 0 }}">
              </md-input-container> -->
              
              <!-- actions -->
              <md-button
                class="md-icon-button"
                ng-if="_editability >= 2"
                ng-click="cancelAllocation(allocation)">
                <md-icon md-font-set="material-icons">delete</md-icon>
              </md-button>
            </div>
          </div>
        </div>
          
        <md-button
          type="button"
          class="md-raised"
          ng-click="createAllocation()"
          ng-if="shipment.status.value === 'scheduled' || !shipment.status.value"
        >
          Adicionar produto
        </md-button>


          
        <md-input-container class="md-block">
          <label>Anotações</label>
          <textarea
            ng-model="shipment.annotations">
          </textarea>
        </md-input-container>


      </section>
    
      <footer class="dialog-footer">
        <div class="dialog-footer-left">
          
        </div>
        
        <div class="dialog-footer-right">
          <md-button
            type="button"
            ng-click="cancel()">
            Cancelar
          </md-button>
          <md-button
            type="submit">
            Registrar
          </md-button>
        </div>
      </footer>
    </form>

  </md-dialog-content>
</md-dialog>
