<div class="dialog large">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      Finalizar {{ shipment.type }}
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>
  
  <form
    name="effectivateAllocationForm"
    ng-submit="effectivateAllocationForm.$valid && submit()">
  
    <section class="dialog-body">
      
      <div ng-show="allocatedAndEffectivatedDifferences.length > 0" layout-gt-sm="row">
        Há diferenças entre as quantidades alocadas e efetivadas. Favor inserir uma observação sobre tais diferenças.
      </div>
      
      <div ng-show="allocatedAndEffectivatedDifferences.length === 0" layout-gt-sm="row">
        Após finalizar a entrada, nenhuma alteração poderá ser feita. Você deseja continuar?
      </div>

      
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Observações</label>
          <textarea
            ng-model="annotations"
            ng-required="allocatedAndEffectivatedDifferences.length > 0"
            rows="5"
            md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </section>
  
    <footer class="dialog-footer">
      <div class="dialog-footer-left">
        
      </div>
      
      <div class="dialog-footer-right">
        <md-button
          type="button"
          ng-click="cancel()">
          Cancelar
        </md-button>
        <md-button
          type="submit">
          Confirmar
        </md-button>
      </div>
    </footer>
  </form>
</div>
