/**
 * Shared styles among both entry shipment tables
 */

#active-allocations,
#finished-allocations {
	margin-top: 40px;
}

.entry-shipments-table {
}

.entry-shipments-table .arrival-date {
  width: 120px;
}

.entry-shipments-table .supplier {
  width: 200px;
}

#scheduled-entry-shipments {
  
}

#finished-entry-shipments {
  margin-top: 40px;
}

/**
 * Entry shipment details
 */
#cancelled-allocations {
  opacity: 0.4;
}