<md-dialog
  class="dialog large"
  flex="80">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      Registrar correção de estoque
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>

  <md-dialog-content>
    
    <form
      name="effectivateAllocationForm"
      ng-submit="effectivateAllocationForm.$valid && submit()">
    
      <section class="dialog-body">
        

        <div layout-gt-sm="row">
          
          <!-- product for exit shipments (only products in stock) -->
          <md-autocomplete
            class="md-block product-autocomplete"
            md-selected-item="operation.product"
            md-floating-label="Modelo de produto"
            required

            md-no-cache
            md-require-match
            md-item-text="product.model.description"
            md-search-text="_productSearchText"
            md-min-length="0"
            md-items="product in completeAvailableProducts(_productSearchText)"
            md-menu-class="inventory-product-autocomplete">
            <md-item-template>

              <div class="autocomplete-option">

                <div class="autocomplete-option-left">
                  <div class="image-container">
                    <img src="{{ product.model.image.url }}">
                  </div>
                  <div class="autocomplete-option-product-description">
                    <div>
                      {{ product.model.description }} 
                    </div>
                    <small>
                      <label>Validade:</label>
                      {{ product.expiry | date:'dd/MM/yyyy' }} 
                    </small>
                  </div>
                </div>

                <div class="autocomplete-option-right">
                  <div class="product-inventory-summary">
                    <div class="summary-line">
                      <label>
                        em estoque
                      </label>
                      <div>
                        {{ product.inStock }} {{ product.measureUnit }}
                      </div>
                    </div>
                    <div
                      class="summary-line"
                      ng-if="product.allocatedForEntry !== 0"
                      style="opacity: 0.6;">
                      <label>
                        à chegar
                      </label>
                      <div>
                        {{ product.allocatedForEntry }} {{ product.measureUnit }}
                      </div>
                    </div>
                    <div
                      class="summary-line"
                      ng-if="product.allocatedForExit !== 0"
                      style="color: darkred; opacity: 0.6;">
                      <label>
                        à sair
                      </label>
                      <div>
                        {{ -1 * product.allocatedForExit }} {{ product.measureUnit }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </md-item-template>
          </md-autocomplete>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Quantidade a se corrigir</label>
            <input
              type="number"
              required
              ng-model="operation.quantity">
            <!-- <input
              ng-max="{{ allocation.allocatedQuantity - allocation.effectivatedQuantity }}"> -->
          </md-input-container>
        </div>
      </section>
    
      <footer class="dialog-footer">
        <div class="dialog-footer-left">
          
        </div>
        
        <div class="dialog-footer-right">
          <md-button
            type="button"
            ng-click="cancel()">
            Cancelar
          </md-button>
          <md-button
            type="submit">
            Confirmar
          </md-button>
        </div>
      </footer>
    </form>
  </md-dialog-content>
</md-dialog>
