<md-dialog
  class="dialog large"
  flex="80">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      <span ng-if="dialogOptions.correctionType === 'loss'">
        Registrar perda de produto
      </span>
      <span ng-if="dialogOptions.correctionType !== 'loss'">
        Registrar correção de estoque
      </span>
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>

  <md-dialog-content>
    
    <form
      name="correctionOperationForm"
      ng-submit="correctionOperationForm.$valid && submit()">
    
      <section class="dialog-body">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo de correção</label>
            <md-select
              required
              ng-model="dialogOptions.correctionType">
              <md-option value="addition">
                Adição
              </md-option>
              <md-option value="subtraction">
                Subtração
              </md-option>
              <md-option value="loss">
                Perda
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo de produto</label>
            <md-select
              required
              ng-model="dialogOptions.productType"
              ng-disabled="dialogOptions.correctionType === 'loss'">
              <md-option value="in-stock">
                Produto em estoque
              </md-option>
              <md-option value="out-of-stock">
                Produto fora de estoque
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        

        <div layout-gt-sm="row" ng-if="dialogOptions.productType">

          <!-- productModel for out of stock -->
          <md-autocomplete
            ng-if="dialogOptions.productType === 'out-of-stock'"
            class="md-block product-model-autocomplete"
            md-selected-item="operation.product.model"
            md-floating-label="Modelo de produto"
            required

            md-no-cache
            md-require-match
            md-item-text="productModel.description"
            md-search-text="_productModelSearchText"
            md-min-length="0"
            md-items="productModel in completeProductModels(_productModelSearchText)"
            md-menu-class="inventory-product-autocomplete">
            <md-item-template>

              <!-- TODO: define own classes and styles -->

              <div class="autocomplete-option">

                <div class="autocomplete-option-left">
                  <div class="image-container">
                    <img ng-src="{{ productModel.image.url }}">
                  </div>
                  <div class="autocomplete-option-product-description">
                    <div>
                      {{ productModel.description }} 
                    </div>
                  </div>
                </div>

              </div>
            </md-item-template>
          </md-autocomplete>
          
          <!-- product for in stock products -->
          <md-autocomplete
            ng-if="dialogOptions.productType === 'in-stock'"
            class="md-block product-autocomplete"
            md-selected-item="operation.product"
            md-floating-label="Modelo de produto"
            required

            md-no-cache
            md-require-match
            md-item-text="product.model.description"
            md-search-text="_productSearchText"
            md-min-length="0"
            md-items="product in completeAvailableProducts(_productSearchText)"
            md-menu-class="inventory-product-autocomplete">
            <md-item-template>

              <div class="autocomplete-option">

                <div class="autocomplete-option-left">
                  <div class="image-container">
                    <img ng-src="{{ product.model.image.url }}">
                  </div>
                  <div class="autocomplete-option-product-description">
                    <div>
                      {{ product.model.description }} 
                    </div>
                    <small>
                      <label>Validade:</label>
                      {{ product.expiry | date:'dd/MM/yyyy' }} 
                    </small>
                  </div>
                </div>

                <div class="autocomplete-option-right">
                  <div class="product-inventory-summary">
                    <div class="summary-line">
                      <label>
                        em estoque
                      </label>
                      <div>
                        {{ product.inStock }} {{ product.measureUnit }}
                      </div>
                    </div>
                    <div
                      class="summary-line"
                      ng-if="product.allocatedForEntry !== 0"
                      style="opacity: 0.6;">
                      <label>
                        à chegar
                      </label>
                      <div>
                        {{ product.allocatedForEntry }} {{ product.measureUnit }}
                      </div>
                    </div>
                    <div
                      class="summary-line"
                      ng-if="product.allocatedForExit !== 0"
                      style="color: darkred; opacity: 0.6;">
                      <label>
                        à sair
                      </label>
                      <div>
                        {{ -1 * product.allocatedForExit }} {{ product.measureUnit }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </md-item-template>
          </md-autocomplete>
        </div>
        
        <div layout-gt-sm="row" ng-if="dialogOptions.productType">
          <!--
            product.expiry
            product expiry MUST be disabled if it is an exit,
            as exits refer to actual products that are in stock
          -->
          <md-input-container flex-gt-sm>
            <label>Data de validade</label>
            <input
              required
              ng-disabled="dialogOptions.productType === 'in-stock'"
              ng-model="operation.product.expiry"
              type="date">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>
              <span ng-if="dialogOptions.correctionType === 'addition'">
                Quantidade adicionada (+)
              </span>
              <span ng-if="dialogOptions.correctionType === 'subtraction'">
                Quantidade subtraída (-)
              </span>
              <span ng-if="dialogOptions.correctionType === 'loss'">
                Quantidade perdida (-)
              </span>
            </label>
            <input
              type="number"
              ng-disabled="!operation.product"
              min="1"
              ng-min="1"
              required
              ng-model="operation.quantity">
          </md-input-container>
          
          <!--
            product.measureUnit
            Measure unit is not modifiable in exits
          -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Unidade</label>
            <input
              required
              name="measureUnit"
              list="measure-units-list"
              ng-disabled="dialogOptions.productType === 'in-stock'"
              ng-model="operation.product.measureUnit">
          </md-input-container>
        </div>

        <div layout-gt-sm="row" ng-if="dialogOptions.productType">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Observações</label>
            <textarea
              ng-model="operation.annotations"
              required
              rows="5">
            </textarea>
          </md-input-container>
        </div>

      </section>
    
      <footer class="dialog-footer">
        <div class="dialog-footer-left">
          
        </div>
        
        <div class="dialog-footer-right">
          <md-button
            type="button"
            ng-click="cancel()">
            Cancelar
          </md-button>
          <md-button
            type="submit">
            <span ng-if="dialogOptions.correctionType === 'loss'">
              Registrar perda
            </span>
            <span ng-if="dialogOptions.correctionType !== 'loss'">
              Registrar correção
            </span>
          </md-button>
        </div>
      </footer>
    </form>
  </md-dialog-content>
</md-dialog>
