<div class="dialog large">
  <header class="dialog-header">
    
    <div class="dialog-header-left">
      Registrar correção de estoque
    </div>
    <div class="dialog-header-right">
      <md-button
        class="md-icon-button"
        ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </header>
  
  <form
    name="effectivateAllocationForm"
    ng-submit="effectivateAllocationForm.$valid && submit()">
  
    <section class="dialog-body">
      

      <div layout-gt-sm="row">
        
        <!-- product for exit shipments (only products in stock) -->
        <md-autocomplete
          class="md-block product-autocomplete"
          md-selected-item="operation.product"
          md-floating-label="Modelo de produto"
          required

          md-no-cache
          md-require-match
          md-item-text="product.model.description"
          md-search-text="_productSearchText"
          md-min-length="0"
          md-items="product in completeAvailableProducts(_productSearchText)"
          md-menu-class="autocomplete-custom-template">
          <md-item-template>
            <div>
              {{ product.model.description }} 
            </div>
            <div>
              {{ product.expiry | date:'dd/MM' }} 
            </div>
            inStock: {{ product.inStock }} 
            scheduledForEntry: {{ product.scheduledForEntry }}
            scheduledForExit: {{ product.scheduledForExit }}
          </md-item-template>
        </md-autocomplete>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Quantidade a se corrigir</label>
          <input
            type="number"
            required
            ng-model="operation.quantity">
          <!-- <input
            ng-max="{{ allocation.allocatedQuantity - allocation.effectivatedQuantity }}"> -->
        </md-input-container>
      </div>
    </section>
  
    <footer class="dialog-footer">
      <div class="dialog-footer-left">
        
      </div>
      
      <div class="dialog-footer-right">
        <md-button
          type="button"
          ng-click="cancel()">
          Cancelar
        </md-button>
        <md-button
          type="submit">
          Confirmar
        </md-button>
      </div>
    </footer>
  </form>
</div>
